.newgame{
margin-top:5px;

}
.playerone{
    float:left;
}
.playertwo{
    float:right;
}
.border{
    border:2px solid black;
}
.newgamebutton{
    font-weight:bold !important;
    background-color:#7acfd6 !important;
    color:white !important;
}
.container{
    height:1000px;
}
