.parent-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:50%;
    margin:0 auto;
    border:none !important;
    margin-top:30px;
    background-color:#7acfd6;
}
.item {
    flex: 0 32%;
    height: 150px;
    margin-bottom: 2%;
    color:#7acfd6;
    background-color: white;
    border:2px solid #7acfd6;
    text-align:center;
    font-size:600%;
    border-radius:5px;
  }
  .item:hover {
    background-color: #d2edf0;
  }
